useDynLib(MixtureFitting)

export(dgmm)
export(dvmm)
export(dcmm)
export(llgmm)
export(llvmm)
export(llcmm)
export(gmm_fit_em)
export(vmm_fit_em)
export(vmm_fit_em_by_diff)
export(vmm_fit_em_by_ll)
export(cmm_fit_em)
export(gmm_init_vector)
export(gmm_init_vector_quantile)
export(vmm_init_vector)
export(cmm_init_vector)

#=========================================================================
# R counterparts of functions, rewritten in C
#=========================================================================

export(dgmm_R)
export(dvmm_R)
export(dcmm_R)
export(llgmm_R)
export(llvmm_R)
export(llcmm_R)
export(gmm_fit_em_R)
export(vmm_fit_em_R)
export(vmm_fit_em_by_diff_R)
export(vmm_fit_em_by_ll_R)
export(cmm_fit_em_R)
export(gmm_init_vector_R)
export(vmm_init_vector_R)
export(cmm_init_vector_R)

#=========================================================================
# Functions, that are not yet rewritten in C
#=========================================================================

export(ds)
export(dsmm)
export(rgmm)
export(rvmm)
export(rcmm)
export(llgmm_conservative)
export(llsmm)
export(llgmm_opposite)
export(llvmm_opposite)
export(bic)
export(gmm_size_probability)
export(gmm_size_probability_nls)
export(gmm_fit_kmeans)
export(ssd_gradient)
export(pssd_gradient)
export(gradient_descent)
export(ssd)
export(pssd)
export(simplex)
export(rsimplex_start)
export(gmm_fit_hwhm)
export(gmm_fit_hwhm_spline_derivatives)
export(cmm_fit_hwhm_spline_derivatives)
export(smm_fit_em)
export(smm_fit_em_APK10)
export(smm_fit_em_GNL08)
export(smm_fit_em_CWL04)
export(s_fit_primitive)
export(mk_fit_images)
export(gmm_init_vector_kmeans)
export(gmm_init_vector_quantile)
export(cmm_init_vector_kmeans)
export(smm_init_vector)
export(smm_init_vector_kmeans)
export(smm_split_component)
export(plot_circular_hist)
export(deg2rad)
export(rad2deg)
export(kmeans_circular)
export(wmedian)
export(digamma_approx)
export(polyroot_NR)
export(kldiv)
export(MixtureFitting_version)
